brotlicffi
celery-types
channels-redis
django-celery-bea
django-celery-results
django-cors-headers
django-easy-audit
djangorestframework-simplejwt
drf-spectacular
flower
lxml
notebook
opencv-python
opencv-python-headless
openpyxl
pandas
pandas-stubs
pillow-heif
pip-chill
pip-tools
playwright
psycopg
psycopg-binary
pydantic
pyopenssl
pysocks
pytesseract
python-dotenv
pywavelets
rich
scipy
service-identity
simplepro
tiktoken
tinycss2
tqdm
twisted
txaio
uvicorn
uvloop
watchfiles
websockets
whitenoise
